<style>
<!-- 

       
        body {
            background-color: rgba(173, 166, 166, 0.5);
            font-family: Montserrat, sans-serif;
            text-align: center;
            color: #1a4635;
        };
    -->        
    .myName{
        background-color: black;
        padding-top: 100px;
        padding-bottom: 5px;
        border-radius: 10;
        border-style: solid;

           color: #54dfa9;
           font-size: 45px;
           line-height: 155px;
           font-weight: 600;
           text-align: center;
           letter-spacing: -1px;
    }

    .picture{
        border-radius: 46%;
    }

    ol, li a {
        list-style-type: none;
        text-decoration: none;
        font-weight: bold;
        line-height: 1.2em;
        font-size: 25px;
        color: #0a7e51;
    }  

    .secundaryTitle{
        background-color: black;
        padding-top: 10px;
        padding-bottom: 5px;
        border-radius: 50;
        border-style:double;
        font-size: 40px;
        font-style: bold;
        color: #0a7e51
    }

    .locality{
        font-weight: bold;
        font-size: 1.3em;
    }

    #description {
        font-family: monospace;
        font-size: 16px;
    }

    .companies{
        font-weight: bold;
        font-size: 1.1em;
    }
</style>